body {
    margin: 0px;
}

p#telemetry_overlay {
    position: absolute;
    color: white;
}

canvas:focus {
    outline: none;
}

div#controls_submission {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    width: 25%;
    height: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
}

div#controls_submission p {
    color: white;
    font-size:x-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    text-align: center;
}
